.intro{
    margin-top: -50px;
    color: white;
    background-color: rgba(106, 106, 106, 0.384);
    line-height: 1.7;
    max-width: 850px;
    padding: 12px;
}
.intro img{
    height: 400px;
    width: auto;
    float:right;
    margin-top: -375px;
    margin-right: -550px;
}
.intro h1{
    color: rgb(83, 37, 174);
    text-shadow: 1px 1px 8px rgba(86, 18, 223, 0.449);
    text-align: center;
    text-decoration: underline;
}
.intro ul{
list-style: none;
}
.intro ul li{
    font-size: large;
}
.intro ul li span{
    color: rgb(83, 37, 174);
}

.skills h1{
    margin-top: 100px;
    text-align: center;
    color: rgb(83, 37, 174);
    margin-bottom: 70px;
    font-size: 500%;
    text-decoration: underline;
}
.skills .container{
    align-items: center;
    margin-left: 140px;
    overflow-x: hidden;
    height: 300px;
    width: 300px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.252);
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.252);
    border-radius: 10px;
    box-shadow: 2px 2px 10px white;
}
.container img{
    height: 200px;
    width: 200px;
    padding:15%
}